.container{
    padding:20px;
    font-family:Arial;
}

button{
    width:100px;
    height:30px;
}

.title{
    color:green;
    font-size:45px;
    font-weight:bold;
}

.row{
    margin:10px 0;
}

label{
    display:inline-block;
    width:80px;
}

input{
    width:180px;
    height:24px;
}